https://www.kaggle.com/datasets/bharatnatrayn/movies-dataset-for-feature-extracion-prediction 

Context
The data is succesfully scrapped from imdb top netflix movies and tvshows.This dataset need clever programming knowledge for feature extraction also you can build a RECOMMENDATION system either GENRE prediction model

Content
The dataset contain more than 9 columns desrcibe the data pattern .I scrap the data from imdb web site using beautifulsoup.it takes a day to learn i am begginer even to data science but i learned quickly web scrapping with advanced python.Through this process i gained lot and also i suggest the data featuring part of this project takes time

Acknowledgements
Definitely the data collection is possible only with help of online stackoverflow and kaggle data science community

Inspiration
Create genre prediction model?

The data is succesfully scrapped from imdb about netflix movies and tvshows.This dataset need clever programming knowledge for feature extraction also you can build a RECOMMENDATION system either GENRE prediction model
ABOUT DATA

MOVIES
         The movie names are given under the column
YEAR
        The year of movie or tv shows telecast for audience
GENRE
        The dataset contain many genres most valuable for recommendation system
RATING
          The audience thought about movie or tv show given
ONE-LINE
           The short description about movie or tv show for audiences first impression
STARS
            The casting of art is define under this columns which makes talk between audience 
VOTES
            The audience express their view under the columns its useful to identify impact make by art 
RUNTIME
            The duration for runing time of art
GROSS
            It gives the total amount earned in worldwide

In [49]:
import numpy as np
import pandas as pd
import matplotlib as plt
import re

In [50]:
df = pd.read_csv("movies.csv",parse_dates= ["YEAR"])

# df.head() +

In [51]:
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [53]:
miss_val = []

[miss_val.append(i) for i in df.columns if any(df[i].isnull())]

miss_val

['YEAR', 'GENRE', 'RATING', 'VOTES', 'RunTime', 'Gross']

In [54]:
df.shape

(9999, 9)

In [55]:
def first_looking(col):
    print("column name    : ", col)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col].isnull().sum()/df.shape[0]*100, 2))
    print("num_of_nulls   : ", df[col].isnull().sum())
    print("num_of_uniques : ", df[col].nunique())
    print(df[col].value_counts(dropna = False))

In [56]:
first_looking("YEAR")

column name    :  YEAR
--------------------------------
per_of_nulls   :  % 6.44
num_of_nulls   :  644
num_of_uniques :  438
(2020– )        892
(2021– )        658
NaN             644
(2020)          639
(2019– )        549
               ...
(1981–1989)       1
(III) (2016)      1
(1995–2001)       1
(2000–2014)       1
(1985– )          1
Name: YEAR, Length: 439, dtype: int64

In [47]:
first_looking("MOVIES")

column name    :  MOVIES
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  6817
 Bleach: Burîchi                         65
 Mighty Little Bheem                     64
 Avatar: The Last Airbender              61
 La Reina de Indias y el Conquistador    60
 Dexter                                  48
                                         ..
Ashby                                     1
Syucheu                                   1
#Realityhigh                              1
Eobiseu                                   1
 Heart of Invictus                        1
Name: MOVIES, Length: 6817, dtype: int64

In [10]:
df[df.MOVIES == '#Realityhigh']

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
2311,#Realityhigh,(2017),"\nComedy, Drama, Romance",5.2,\nHigh-achieving high-school senior Dani Barne...,\n Director:\nFernando Lebrija\n| \n Sta...,"5,947",99.0,NaN

In [13]:
df.MOVIES=df[df.MOVIES == '#Realityhigh'].replace('#',' ')

ValueError: Columns must be same length as key

In [14]:
df.MOVIES.sample(100)

3879                        Layla M.
6693               Never Have I Ever
2180           La dictadura perfecta
1090                     Delhi Crime
3975                       FirstBorn
                    ...
8194                     Hit and Run
5491            Tuintje in mijn hart
1713       Doshinamnyeoui Sarangbeob
1842    Put Your Head on My Shoulder
1912     The Knight Before Christmas
Name: MOVIES, Length: 100, dtype: object

In [15]:
df.YEAR.value_counts(dropna = False)

(2020– )        892
(2021– )        658
NaN             644
(2020)          639
(2019– )        549
               ...
(1981–1989)       1
(III) (2016)      1
(1995–2001)       1
(2000–2014)       1
(1985– )          1
Name: YEAR, Length: 439, dtype: int64

In [16]:
df.GENRE.value_counts(dropna=False)

\nComedy                                      852
\nAnimation, Action, Adventure                693
\nDrama                                       562
\nDocumentary                                 498
\nCrime, Drama, Mystery                       336
                                             ...
\nAction, Drama, Western                        1
\nComedy, Horror, Talk-Show                     1
\nFamily, Music, Romance                        1
\nAnimation, Adventure, Horror                  1
\nDocumentary, Crime, Thriller                  1
Name: GENRE, Length: 511, dtype: int64

In [17]:
df.RATING.value_counts(dropna=False)

NaN    1820
7.2     331
7.6     309
7.5     309
7.4     300
       ...
2.2       1
1.1       1
2.0       1
2.4       1
1.8       1
Name: RATING, Length: 83, dtype: int64

In [18]:
df.columns

Index(['MOVIES', 'YEAR', 'GENRE', 'RATING', 'ONE-LINE', 'STARS', 'VOTES',
       'RunTime', 'Gross'],
      dtype='object')

In [19]:
df['one_line'] = df['ONE-LINE']
df.drop('ONE-LINE', axis=1, inplace=True)

In [20]:
df.head()

,MOVIES,YEAR,GENRE,RATING,STARS,VOTES,RunTime,Gross,one_line
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN,\nA woman with a mysterious illness is forced ...
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN,\nThe war for Eternia begins again in what may...
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN,\nSheriff Deputy Rick Grimes wakes up from a c...
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN,\nAn animated series that follows the exploits...
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN,"\nA prequel, set before the events of Army of ..."

In [21]:
df.one_line.value_counts(dropna=False)

\nAdd a Plot\n                                                                                                                                                                                                                                     1265
\nThe Buddis bounce, spin, glide - and giggle. - through their magical world, learning new things and sharing the joy of friendship.                                                                                                                  8
\nWith kindness, curiosity and childlike wonder, five best friends explore their colourful world and find the extraordinary in everyday things.                                                                                                       8
\nPlot under wraps.                                                                                                                                                                                                                                   7
\nPlot unknown.                                                                                                                                                                                                                                       7
                                                                                                                                                                                                                                                   ...
\nDeniz, an acclaimed author, is writing a book about his family and friends. He asks Orhan for critics. The day Orhan came to Istanbul from London, Deniz disappears. Orhan, Deniz's friend Neval and Deniz's lover Yusuf tries to find Deniz.       1
\nWielding a light-up sword through the dark corners of a high school, a nurse with an unusual gift protects students from monsters only she can see.                                                                                                 1
\n"The Good Bandit" introduces the new narco-comedy genre that, for the first time, presents a drug lord who repents of the choices he has made, willing to change his life away from the ...                See full summary »\n                     1
\nTraveling to the exotic kingdom of Siam, English schoolteacher Anna Leonowens soon discovers that her most difficult challenge is the stubborn, imperious King himself.                                                                             1
\nAs Paxton's mixed messages have Devi questioning herself, the upcoming winter dance offers a chance to determine where she stands- and what she needs.                                                                                              1
Name: one_line, Length: 8688, dtype: int64

In [22]:
df.STARS.value_counts(dropna=False)

\n                                                                                                                                       456
\n            \n    Stars:\nEmmanuel Esparza, \nEssined Aponte, \nManuel Navarro, \nÁlvaro Benet\n                                        58
\n    Directors:\nRajiv Chilaka, \nKrishna Mohan Chintapatla\n                                                                            49
\n    Director:\nOliver Driver\n| \n    Stars:\nRorrie D. Travis, \nJasmeet Baduwalia, \nJacqueline Scislowski, \nAbraham Rodriguez\n     21
\n            \n    Star:\nMichael J. Woodard\n                                                                                           19
                                                                                                                                        ...
\n            \n    Stars:\nDong-wook Kim, \nMoon Ga-young, \nSeul-gi Kim, \nJong-Hoon Yoon\n                                              1
\n            \n    Stars:\nCharles Demers, \nRebecca Husain, \nLili Beaudoin, \nAshleigh Ball\n                                           1
\n            \n    Stars:\nJohn Paul Tremblay, \nRobb Wells, \nMike Smith, \nTom Mayhue\n                                                 1
\n            \n    Stars:\nSu Meng Di, \nDai Yun Fan, \nCharles Lin, \nJasper Liu\n                                                       1
\n    Director:\nJovanka Vuckovic\n| \n    Stars:\nMorgan Taylor Campbell, \nJennifer Cheon Garcia, \nIñaki Godoy, \nRhianna Jagpal\n      1
Name: STARS, Length: 7877, dtype: int64

In [23]:
df.VOTES.value_counts(dropna=False)

NaN       1820
7           35
30          31
26          28
32          28
          ...
1,368        1
2,437        1
8,271        1
10,883       1
911          1
Name: VOTES, Length: 4130, dtype: int64

In [24]:
df.RunTime.value_counts(dropna=False)

NaN      2958
24.0      354
60.0      299
30.0      219
23.0      183
         ...
542.0       1
629.0       1
498.0       1
189.0       1
165.0       1
Name: RunTime, Length: 262, dtype: int64

In [25]:
df.Gross.value_counts(dropna=False)

NaN        9539
$0.01M       22
$0.02M       16
$0.00M       15
$0.03M       10
           ...
$44.82M       1
$21.36M       1
$54.76M       1
$77.22M       1
$10.40M       1
Name: Gross, Length: 333, dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   STARS     9999 non-null   object
 5   VOTES     8179 non-null   object
 6   RunTime   7041 non-null   float64
 7   Gross     460 non-null    object
 8   one_line  9999 non-null   object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [27]:
df.describe().T

          count       mean        std  min   25%   50%   75%    max
RATING   8179.0   6.921176   1.220232  1.1   6.2   7.1   7.8    9.9
RunTime  7041.0  68.688539  47.258056  1.0  36.0  60.0  95.0  853.0

In [28]:
df.shape

(9999, 9)

In [29]:
df.isnull().sum()*100/df.shape[0]

MOVIES       0.000000
YEAR         6.440644
GENRE        0.800080
RATING      18.201820
STARS        0.000000
VOTES       18.201820
RunTime     29.582958
Gross       95.399540
one_line     0.000000
dtype: float64

In [30]:
def show_null(df, limit):
    missing = df.isnull().sum()*100/df.shape[0]
    return missing.loc[lambda x: x > limit]

def percentage_null(serials):
    return serials.isnull().sum()/serials.shape[0]*100

In [31]:
show_null(df, 92)

Gross    95.39954
dtype: float64

In [32]:
df.drop('Gross', axis=1, inplace=True)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   STARS     9999 non-null   object
 5   VOTES     8179 non-null   object
 6   RunTime   7041 non-null   float64
 7   one_line  9999 non-null   object
dtypes: float64(2), object(6)
memory usage: 625.1+ KB

In [34]:
df['GENRE'] = df.GENRE.str.strip("\n")
df['GENRE']

0           Action, Horror, Thriller
1       Animation, Action, Adventure
2            Drama, Horror, Thriller
3       Animation, Adventure, Comedy
4              Action, Crime, Horror
                          ...
9994       Adventure, Drama, Fantasy
9995    Animation, Action, Adventure
9996              Documentary, Sport
9997       Adventure, Drama, Fantasy
9998       Adventure, Drama, Fantasy
Name: GENRE, Length: 9999, dtype: object

In [35]:
df['one_line'] = df.one_line.str.strip()
df['one_line']

0       A woman with a mysterious illness is forced in...
1       The war for Eternia begins again in what may b...
2       Sheriff Deputy Rick Grimes wakes up from a com...
3       An animated series that follows the exploits o...
4       A prequel, set before the events of Army of th...
                              ...
9994                                           Add a Plot
9995                                           Add a Plot
9996                                           Add a Plot
9997                                           Add a Plot
9998                                           Add a Plot
Name: one_line, Length: 9999, dtype: object

In [36]:
#df['STARS'] = df.STARS.str.strip()
#df['STARS'].value_counts()

In [37]:
df.replace({"STARS": {"\n": ""}}, regex=True, inplace=True)

In [38]:
df.STARS.value_counts()

                                                                                                                       456
                Stars:Emmanuel Esparza, Essined Aponte, Manuel Navarro, Álvaro Benet                                    58
    Directors:Rajiv Chilaka, Krishna Mohan Chintapatla                                                                  49
    Director:Oliver Driver|     Stars:Rorrie D. Travis, Jasmeet Baduwalia, Jacqueline Scislowski, Abraham Rodriguez     21
                Star:Michael J. Woodard                                                                                 19
                                                                                                                      ...
                Stars:Dong-wook Kim, Moon Ga-young, Seul-gi Kim, Jong-Hoon Yoon                                          1
                Stars:Charles Demers, Rebecca Husain, Lili Beaudoin, Ashleigh Ball                                       1
                Stars:John Paul Tremblay, Robb Wells, Mike Smith, Tom Mayhue                                             1
                Stars:Su Meng Di, Dai Yun Fan, Charles Lin, Jasper Liu                                                   1
    Director:Jovanka Vuckovic|     Stars:Morgan Taylor Campbell, Jennifer Cheon Garcia, Iñaki Godoy, Rhianna Jagpal      1
Name: STARS, Length: 7877, dtype: int64

In [39]:
def fill_most(df, group_col, col_name):
    '''Fills the missing values with the most existing value (mode) in the relevant column according to single-stage grouping'''
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        mode = list(df[cond][col_name].mode())
        if mode != []:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[cond][col_name].mode()[0])
        else:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[col_name].mode()[0])
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [40]:
def fill_prop(df, group_col, col_name):
    '''Fills the missing values with "ffill and bfill method" according to single-stage grouping'''
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        df.loc[cond, col_name] = df.loc[cond, col_name].fillna(method="ffill").fillna(method="bfill")
    df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [41]:
def fill(df, group_col1, group_col2, col_name, method): # method can be "mode" or "median" or "ffill"
    if method == "mode":
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                mode1 = list(df[cond1][col_name].mode())
                mode2 = list(df[cond2][col_name].mode())
                if mode2 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mode()[0])
                elif mode1 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond1][col_name].mode()[0])
                else:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[col_name].mode()[0])
                
    elif method == "median":
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].median()).fillna(df[cond1][col_name].median()).fillna(df[col_name].median())
                
    elif method == "ffill":           
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(method="ffill").fillna(method="bfill")
                
        for group1 in list(df[group_col1].unique()):
            cond1 = df[group_col1]==group1
            df.loc[cond1, col_name] = df.loc[cond1, col_name].fillna(method="ffill").fillna(method="bfill")            
           
        df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [42]:
df.groupby("YEAR").GENRE.value_counts()

YEAR          GENRE
(1932)        Action, Crime, Drama                       1
              Comedy                                     1
(1933)        Comedy                                     1
(1938)        Drama                                      1
(1941)        Animation, Adventure, Drama                1
                                                        ..
(XII)         Comedy                                     1
(XIII)        Sci-Fi                                     1
(XIV) (2017)  Drama                                      1
(XLI)         Drama                                      1
(XXIII)       Comedy                                     1
Name: GENRE, Length: 3186, dtype: int64

In [43]:
df["VOTES"] = df["VOTES"].fillna(method="ffill")
df["VOTES"]

0        21,062
1        17,870
2       885,805
3       414,849
4       414,849
         ...
9994        433
9995        433
9996        433
9997        433
9998        433
Name: VOTES, Length: 9999, dtype: object

In [44]:
df["RunTime"] = df["RunTime"].fillna(method="ffill")
df["RunTime"]

0       121.0
1        25.0
2        44.0
3        23.0
4        23.0
        ...
9994     38.0
9995     38.0
9996     38.0
9997     38.0
9998     38.0
Name: RunTime, Length: 9999, dtype: float64

In [45]:
df["RATING"] = df["RATING"].fillna(method="ffill")
df["RATING"]

0       6.1
1       5.0
2       8.2
3       9.2
4       9.2
       ...
9994    8.8
9995    8.8
9996    8.8
9997    8.8
9998    8.8
Name: RATING, Length: 9999, dtype: float64

In [46]:
#df.YEAR.str.extract("^()$")